label{
    position: fixed;
    text-align: end;
}
label.requerido:after{
    content: '*';
    color: red;
}

#form-button{
    display: flex;
    justify-content: center;
}
.btn-success, .btn-default{
    margin: 0 10px;
    width: 100px;
}
#mostrar-icono{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}